*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"arial";
    color:black;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #4a79df, #082b52);
}

.imgus{
    position: relative;
    left: 900%;
    height: 45px;
    width: 45px;
    border-radius: 500px;
}
.textus{
    position: absolute;
    color:white;
    font-size: 20px;
    left: 90%;
    top: 25%;
   
}
h1{
    font-style: italic;
    text-align: center;
}
.pregunta-texto{
    margin: 10px;
 }
#iniciop{

    width: 81%;
    height: auto; 
    overflow: hidden;
    margin: 10px auto;
    background:  rgba(241, 146, 146, 0.363);
}
video{
    transform: translateY(50%);
}
.enlace{
    text-decoration: none;
}

#publicaciones .img-post{
    width: 300px;
    height: 200px;
  

}
#publicaciones .comentarios{
    background: rgb(208, 208, 253);

    padding:5px;
    margin: 15px;
    position: static;
    border-radius: 5px;
    text-decoration: none;
}

.cont {
    align-self: center;
    color: black;
}
button{
    color: rgb(143, 138, 138);
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
button:active{
    color: rgb(24, 153, 22);
    transform: scale(1.2);
}
.btn{
    width: 30px;
    border: none;
    background: none;
    color: white;
    font-size: 20px;
    margin: 0px;
}
.btn_num{
    color: black;
    background: none;
    outline: none;
    border:none;
    pointer-events: none;
}
.incoment{
    font-size: 18px;
    width: 50%;
}

   

.container_comentarios{
    width: 100%;
    padding: 10px;
    margin: 5px;
}
.user{
    display: block;
    width: 100px;
}
.user strong{
    display: block;
    text-align: center;
    width: 100px;
}
.coment{
    position: relative;
    display: flex;
    padding: 5px;
    background-color: #67eaf35e;
 
    border-radius: 20px;
}
.contenido{
    width: 100%;
    display: flex;
    align-items: center;
}
.contenido strong{
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    margin-left: 130px;
}
.contenido p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-left: 50px;
}
.answer{
    position: relative;
    display: flex;
    padding: 10px;
    margin: 10px;
    margin-left: 60px;
    background-color: #4a79df5e;
    
    border-radius: 20px;
}
.deletec{
    background-color: red;
    color: white;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;

}
.incoment{
    border-radius: 5px;
    border: none
}
strong.datos{
    color: black;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
   font-size: 25px;

}
.noti-texto{
    font-size: 35px;
    padding-left: 85px;
    color: rgb(0, 0, 0);
}
span.datos{
    
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(42, 42, 43);
    font-size: 30px;
}